.col-id-product-table {
    min-width: 50px;
    width: 50px;
}

.col-sku-product-table {
    min-width: 110px;
    width: 110px;
}

.col-name-product-table {
    min-width: 250px;
}

.col-creation-date-time-product-table {
    min-width: 180px;
    width: 180px;
}

.col-price-product-table {
    min-width: 120px;
    width: 120px;
}

.col-actions-product-table {
    min-width: 80px;
    width: 80px;
}

.action-btn {
    background-color: transparent;
    border: none;
    color: #0d6efd;
}